body {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  line-height: 1;
  background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/pc.png);
  background-size: cover;
  background-color: #002366;
  color: white;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  cursor: move;
}

#clock {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.1em black;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://www.serebii.net/pokemonshirts/shirts/491.jpg"); /* add a background image */
  background-position: center;
  width: 358px;
  height: 670px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#time {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  align-items: center;
  font-size: 10rem;
  color: #fff;
  font-size: 3.2rem;
}

#am-pm {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 10px;
}

#minute {
  font-size: 1.4rem;
  color: #fff;
}

#date {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

#day {
  font-size: 4.6rem;
}


.type-container {
  display: flex;
  flex-wrap: nowrap;
}

.type-box {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#separator {
  margin: 0 10px;
}

.clear {
  clear: both;
}

#entry {
  display: flex;
  align-items: center;
}

#pokemon {
  align-items: center;
  margin-right: auto;
}

#pokemon-sprite {
  width: 100%;
}

#pokemon-id {
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#pokemon-name {
  padding: 5px;
  color: white;
  height: 50px;
  width: auto;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

footer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  height: 10px;
}

footer img {
  height: 32px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
footer p {
  display: inline-block;
  vertical-align: middle;
}
